/* ////////////////////////////////////////////////////body----1/////////////////////////////////////////////////// */

.body1 {
    background-image: url('/nightOut/images&logo/Black\ And\ Orange\ Illustrative\ Bar\ &\ Restaurant\ Logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% ;
    height: 100vh;
}

/* buttons in the main page */
.nightOutBtn {
    margin: 20% 10%;
}
/* ////////////////////////////////////////////////body----2/////////////////////////////////////////////////////// */

.mainContainer {
    background-image: url('images&logo/avengers_endgame_4k_hd_2-3840x2160.jpg');
    background-size:cover ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);

}

.box {
    height: 15rem;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.box6 {
    display: flex;
    justify-content: center;
    align-items: center;
}




#beer {
    color: rgb(152, 27, 27);
    font-family: cursive;
    font-size: 5rem;
}
#beer:hover {
    transform:scale(1.5 ) ;
    transition: 1s ease;
}

#shot {
    color: orange;
    font-family: cursive;
    font-size: 5rem;
}


    
    
 @-webkit-keyframes swing
{
            15%
            {
                -webkit-transform: translateX(5px);
                transform: translateX(5px);
            }
            30%
            {
                -webkit-transform: translateX(-5px);
                transform: translateX(-5px);
            } 
            50%
            {
                -webkit-transform: translateX(3px);
                transform: translateX(3px);
            }
            65%
            {
                -webkit-transform: translateX(-3px);
                transform: translateX(-3px);
            }
            80%
            {
                -webkit-transform: translateX(2px);
                transform: translateX(2px);
            }
            100%
            {
                -webkit-transform: translateX(0);
                transform: translateX(0);
            }
}
@keyframes swing
{
            15%
            {
                -webkit-transform: translateX(5px);
                transform: translateX(5px);
            }
            30%
            {
                -webkit-transform: translateX(-5px);
                transform: translateX(-5px);
            }
            50%
            {
                -webkit-transform: translateX(3px);
                transform: translateX(3px);
            }
            65%
            {
                -webkit-transform: translateX(-3px);
                transform: translateX(-3px);
            }
            80%
            {
                -webkit-transform: translateX(2px);
                transform: translateX(2px);
            }
            100%
            {
                -webkit-transform: translateX(0);
                transform: translateX(0);
            }
}
        
#shot:hover
{
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
    
#food {
    color: green;
    font-family: cursive;
    font-size: 5rem;
}
#food:hover {
    transform: rotate(360deg);
    transition: 1s ease-in-out;
    color: blue;
    background-image: url('images&logo/');
}

#tip {
    color: purple;
    font-size: 5rem;
    font-family: cursive;
}
#tip:hover {
    color: pink;
}


#Payment {
    font-size: 8rem;
    color: rgb(146, 215, 42);
}





























/* ////////////////////////////////////////////////////body----3/////////////////////////////////////////////////// */
.body3 {
    background-image: url('/nightOut/images&logo/star-wars.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color: rgb(243, 17, 17);
}

.nightOutBtn:hover {
    transform: rotate(1turn);
    transition: 2s;
}


